[Unit]
Description=Ocservia fixed typed privileged helper
Before=ocservia-agent.service

[Service]
Type=simple
User=root
Group=ocserv-agent
EnvironmentFile=/etc/ocservia-agent/privd.env
EnvironmentFile=/etc/ocservia-agent/agent.env
ExecStart=/usr/libexec/ocservia/ocservia-privd --agent-uid $AGENT_UID --node-id $NODE_ID --controller-command-key-file $CONTROLLER_COMMAND_VERIFICATION_KEY_FILE --user-password-seal-key-file $USER_PASSWORD_SEAL_PRIVATE_KEY_FILE --user-password-seal-key-id $USER_PASSWORD_SEAL_KEY_ID --user-password-seal-public-key-sha256 $USER_PASSWORD_SEAL_PUBLIC_KEY_SHA256 --p12-password-seal-key-file $P12_PASSWORD_SEAL_PRIVATE_KEY_FILE --p12-password-seal-key-id $P12_PASSWORD_SEAL_KEY_ID --p12-password-seal-public-key-sha256 $P12_PASSWORD_SEAL_PUBLIC_KEY_SHA256
Restart=on-failure
RestartSec=5s
RuntimeDirectory=ocserv-platform
RuntimeDirectoryMode=0750
StateDirectory=ocservia-privd
StateDirectoryMode=0710
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=yes
ProtectClock=yes
ProtectHostname=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX AF_NETLINK
IPAddressDeny=any
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictSUIDSGID=yes
RestrictNamespaces=yes
SystemCallArchitectures=native
CapabilityBoundingSet=CAP_DAC_OVERRIDE
ReadWritePaths=-/etc/ocserv /var/lib/ocservia-privd
UMask=0007
TasksMax=32
LimitNOFILE=128

[Install]
WantedBy=multi-user.target
