{
	admin off
	auto_https off
	servers {
		protocols h1 h2
		strict_sni_host on
		listener_wrappers {
			proxy_protocol {
				timeout 5s
				allow {$OCSERV_EDGE_GATEWAY_IP:172.30.241.2}/32
				fallback_policy reject
			}
			tls
		}
		timeouts {
			read_header 5s
			read_body 30s
		}
	}
}

:8443 {
	tls /run/secrets/tls_certificate /run/secrets/tls_private_key
	import /etc/caddy/site.caddy
}
